nav{
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  padding: 20px 0;
  background-color: #e5e5e5;
}
nav a{
  text-decoration: none;
  margin-right: 20px;
}

.login-container{
  display: flex;
  justify-content: center;
}

.login-form{
  display: flex;
  flex-direction: column;
}
